.is-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.is-center-x {
  left: 50%;
  transform: translateX(-50%);
}
.is-center-y {
  top: 50%;
  transform: translateY(-50%);
}

.is-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-rwd {
  width: 100%;
  height: auto;
}
